#—————————————————————————————————————————————————————————————————————————————————————————————█
#   NEWLINE & ENCODING
#—————————————————————————————————————————————————————————————————————————————————————————————█
#
#   CANONICAL NEW-LINE in this repo aligns with LINUX.
#   For that reason, "end_of_line=lf" is the standard for all files.
#
#   CANONICAL ENCODING in this repo is UTF-8 WITHOUT BOM.
#   For that reason, "charset=utf-8" is the standard for all files.
#
#—————————————————————————————————————————————————————————————————————————————————————————————█
#   NOTE: Use of non-standard values MUST be justified in a comment.
#—————————————————————————————————————————————————————————————————————————————————————————————█
* text=auto eol=lf encoding=UTF-8
