#—————————————————————————————————————————————————————————————————————————————————————————————█
#
#   PATTERNS IGNORED BY DEFAULT:
#     - $* (example: "$RECYCLE.BIN")
#     - .* (example: ".temp")
#     - _* (example: "_temp")
#     - ~* (example: "~temp")
#     - *~ (example: "temp~")
#
#—————————————————————————————————————————————————————————————————————————————————————————————█
$*
.*
_*
~*
*~
#—————————————————————————————————————————————————————————————————————————————————————————————█
Artifacts
System Volume Information
node_modules
obj
bin
