/*
    This is a complete list of colors in use.

    Every key color is defined by six variables:
        * --color-<name>            - key color itself
        * --color-<name>-w<1-3>     - key color shades moving towards white
        * --color-<name>-b<1-3>     - key color shades moving towards black

    All definitions follow the same shade-order, from the lightest to the darkest.
    Some colors have additional aliased names, for example pencils are also accessible using "HB"-naming.
 */
:root {
  --color-pencil-w3: oklch(0.66 0 90);
  --color-pencil-w2: oklch(0.56 0 90);
  --color-pencil-w1: oklch(0.46 0 90);
  --color-pencil: oklch(0.36 0 90);
  --color-pencil-b1: oklch(0.32 0 90);
  --color-pencil-b2: oklch(0.28 0 90);
  --color-pencil-b3: oklch(0.24 0 90);

  --color-H3: var(--color-pencil-w3);
  --color-H2: var(--color-pencil-w2);
  --color-H1: var(--color-pencil-w1);
  --color-HB: var(--color-pencil);
  --color-B1: var(--color-pencil-b1);
  --color-B2: var(--color-pencil-b2);
  --color-B3: var(--color-pencil-b3);

  --color-khaki-w3: oklch(0.92 0.046 71.531);
  --color-khaki-w2: oklch(0.87 0.046 71.531);
  --color-khaki-w1: oklch(0.82 0.046 71.531);
  --color-khaki: oklch(76.993% 0.04555 71.5);
  --color-khaki-b1: oklch(0.72 0.046 71.531);
  --color-khaki-b2: oklch(0.67 0.046 71.531);
  --color-khaki-b3: oklch(0.62 0.046 71.531);

  --color-BG-w3: var(--color-khaki-w3);
  --color-BG-w2: var(--color-khaki-w2);
  --color-BG-w1: var(--color-khaki-w1);
  --color-BG: var(--color-khaki);
  --color-BG-b1: var(--color-khaki-b1);
  --color-BG-b2: var(--color-khaki-b2);
  --color-BG-b3: var(--color-khaki-b3);

  --color-brown-w3: oklch(0.53 0.046 71.531);
  --color-brown-w2: oklch(0.48 0.046 71.531);
  --color-brown-w1: oklch(0.43 0.039 61);
  --color-brown: oklch(0.38 0.039 61);
  --color-brown-b1: oklch(0.34 0.046 71.531);
  --color-brown-b2: oklch(0.3 0.046 71.531);
  --color-brown-b3: oklch(0.26 0.046 71.531);

  --color-red-w3: oklch(0.68 0.135 31);
  --color-red-w2: oklch(0.58 0.135 31);
  --color-red-w1: oklch(0.48 0.135 31);
  --color-red: oklch(0.4 0.135 31);
  --color-red-b1: oklch(0.35 0.135 31);
  --color-red-b2: oklch(0.3 0.135 31);
  --color-red-b3: oklch(0.25 0.135 31);

  --color-odd: var(--color-red);

  --color-blue-w3: oklch(0.7 0.1 250);
  --color-blue-w2: oklch(0.6 0.1 250);
  --color-blue-w1: oklch(0.5 0.1 250);
  --color-blue: oklch(0.4 0.1 249.73);
  --color-blue-b1: oklch(0.35 0.1 250);
  --color-blue-b2: oklch(0.3 0.1 250);
  --color-blue-b3: oklch(0.25 0.1 250);

  --color-slate-w3: oklch(0.55 0.05 250);
  --color-slate-w2: oklch(0.5 0.05 250);
  --color-slate-w1: oklch(0.45 0.05 250);
  --color-slate: oklch(0.4 0.05 250);
  --color-slate-b1: oklch(0.35 0.05 250);
  --color-slate-b2: oklch(0.3 0.05 250);
  --color-slate-b3: oklch(0.25 0.05 250);

  --color-evn: var(--color-slate);

  --color-yellow-w3: oklch(1 0.18 95);
  --color-yellow-w2: oklch(0.96 0.18 95);
  --color-yellow-w1: oklch(0.92 0.18 95);
  --color-yellow: oklch(0.88 0.18 95);
  --color-yellow-b1: oklch(0.84 0.18 95);
  --color-yellow-b2: oklch(0.78 0.18 95);
  --color-yellow-b3: oklch(0.7 0.13 85.7);
}
