:root {
  --font-monospace: Cascadia Mono NF;
  --font-quicksand: Quicksand;

  --weight-thin: 400;
  --weight-normal: 500;
  --weight-bold: 600;
  --weight-thicc: 700;

  --characters-per-line: 95;
  --root-width: calc(1ch * var(--characters-per-line));
  --root-edge-distance: 1ch;
}

div.root {
  min-width: var(--root-width);
  max-width: var(--root-width);
  /*  center content horizontally */
  margin: auto;
  /*  leave some space at the top and bottom so that page
      content does not end up right at the edge */
  padding-top: var(--root-edge-distance);
  padding-bottom: var(--root-edge-distance);
}
